service: privatepress

image: privatepress

servers:
  web:
    - your-server-ip

proxy:
  ssl: true
  host: privatepress.example.com

registry:
  server: localhost:5555

env:
  secret:
    - RAILS_MASTER_KEY
  clear:
    SOLID_QUEUE_IN_PUMA: true

volumes:
  - "privatepress_storage:/rails/storage"

asset_path: /rails/public/assets

builder:
  arch: amd64
